# Copy to ".env" and fill in values as needed.

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=proxy
DB_PASSWORD=CHANGE_ME
DB_DATABASE=your_db_name

LOG_DATA_ENCODING=base64
LOG_MAX_QUEUE=5000
LOG_BATCH_SIZE=200
LOG_TRUNCATE_BYTES=0

